 @import url('https://fonts.googleapis.com/css2?family=Emilys+Candy&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Delius&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Coming+Soon&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap');

        body {
            background: #662222;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
            perspective: 1000px; /* Essential for 3D effect */
        }

        /* Container for the flip effect */
        .main-wrapper {
            width: 370px;
            height: 200px;
            position: relative;
            transition: transform 1100ms;
            transform-style: preserve-3d;
            cursor: pointer;
        }

        /* This class is added by JS to flip the whole thing */
        .main-wrapper.is-flipped {
            transform: rotateY(180deg);
        }

        /* Front and Back common styling */
        .front, .back {
            position: absolute;
            width: 100%;
            height: 100%;
            backface-visibility: hidden;
            border: 4px solid #c4b394;
            background: #f5daa7;
        }

        /* --- FRONT STYLES --- */
        .front {
            z-index: 2;
        }
        .front h1 {
            position: absolute;
            top: 79px;
            left: 45px;
            font-family: "Emilys Candy", serif;
            font-weight: 400;
            color: #610606;
            margin: 0;
        }
        .stamp {
            position: absolute;
            top: 13px;
            left: 9px;
            height: 38px;
            width: 46px;
            transform: rotate(345deg);
        }

        /* --- BACK STYLES --- */
        .back {
            transform: rotateY(180deg); /* Start hidden on the other side */
            z-index: 1;
        }

        .panel {
            position: absolute;
            top: 0px;
            left: -4px;
            height: 125px;
            width: 378px;
            clip-path: polygon(50% 100%, 0 0, 100% 0);
            background: #f5daa7;
            z-index: 11;
        }

        /* Checkbox Logic for Opening */
        #open:checked ~ .panel {
            animation: move 1100ms forwards;
        }

        .l1, .l2 { position: absolute; background: #c4b394; height: 5px; width: 225px; z-index: 111; }
        .l1 { top: 58px; left: -21px; transform: rotate(33.5deg); }
        .l2 { top: 59px; left: 165px; transform: rotate(-33.5deg); }

        .down {
            position: absolute;
            top: 76px;
            left: -4px;
            height: 125px;
            width: 378px;
            clip-path: polygon(50% 0, 0 100%, 100% 100%);
            background: #f5daa7;
            z-index: 111;
        }

        .l3, .l4 { position: absolute; background: #c4b394; height: 5px; width: 245px; }
        .l3 { top: 60px; left: -26px; transform: rotate(146.5deg); }
        .l4 { top: 62px; left: 160.5px; transform: rotate(213.5deg); }

        .right { position: absolute; top: 2px; left: 0px; height: 196px; width: 148px; background: inherit; clip-path: polygon(100% 50%, 0 0, 0 100%); z-index: 11111; }
        .left { position: absolute; top: 2px; left: 224px; height: 198px; width: 150px; background: inherit; clip-path: polygon(0 50%, 100% 0, 100% 100%); z-index: 11111; }

        #open, #out { display: none; }

        .seal {
            position: absolute;
            top: 86px;
            left: 165px;
            height: 50px;
            width: 50px;
            background: red;
            transform: rotate(45deg);
            cursor: pointer;
            z-index: 1111111;
        }
        .seal::before, .seal::after {
            content: ''; display: block; position: absolute; height: 50px; width: 50px; background: red; border-radius: 50%;
        }
        .seal::before { top: -25px; left: 0px; }
        .seal::after { top: 0px; left: -25px; }

        @keyframes move {
            100% { top: -129px; transform: rotateX(180deg); }
        }

        .page {
            position: absolute;
            top: 0px;
            left: 30px;
            height: 120px;
            width: 320px;
            background: white;
            z-index: 5;
            opacity: 0;
        }

        #open:checked ~ .page {
            opacity: 1;
            z-index: 99;
            animation: appear 600ms forwards;
            cursor: pointer;
        }

        @keyframes appear { to { opacity: 1; } }

        #out:checked ~ .page {
            animation: out 900ms ease forwards;
        }

        @keyframes out {
            to { top: -195px; height: 578px; z-index: 1111111; }
        }

        .message {
            position: absolute;
            top: -162px;
            left: 45px;
            font-family: "Delius", cursive;
            width: 300px;
            opacity: 0;
            pointer-events: none;
        }

        #out:checked ~ .message {
            animation: text 1500ms forwards;
        }

        @keyframes text {
            to { opacity: 1; z-index: 11111112; }
        }
.sambodhan{
    position: absolute;
    top: -22px;
    left: -6px;
    font-family: "Fredericka the Great", serif;
  font-weight: 400;
  font-style: normal;
}
.sambodhan::after{
    content: 'YOURS TRULY BHONDU';
    display: block;
    position: absolute;
    top: 522px;
    left: 0px;
    width: 113px;
    font-size: 13px;
}
.massege{
    font-size: 10px;
    font-family: "Coming Soon", cursive;
  font-weight: 400;
  font-style: normal;
}
